.links {
    font-size: 1.5em;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0.25em;
      padding: 0.25em;
      text-decoration: none;
      color: inherit;
    }
  }