@import "config";
@import "toggleThemes";
@import "radioButton";
@import "result";
@import "links";
@import "input";

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: $clr-dark;
  color: $clr-light;
}

.light {
  background-color: $clr-light;
  color: $clr-dark;
}
